### Task

Create a series of 10 elements, random integers from 70 to 100, representing scores on a monthly exam. Set the index to be the month names, starting in September and ending in June.

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
g = np.random.default_rng(0)
months = 'Sep Oct Nov Dec Jan Feb Mar Apr May Jun'.split()

s = Series(g.integers(70, 101, 10), index=months)

s

Sep    96
Oct    89
Nov    85
Dec    78
Jan    79
Feb    71
Mar    72
Apr    70
May    75
Jun    95
dtype: int64

In [4]:
print(f'Entire year average: {s.mean()}')

Entire year average: 81.0

In [6]:
first_half_average = s['Sep':'Jan'].mean()
second_half_average = s['Feb':'Jun'].mean()

print(f'Yearly average: {s.mean()}')

print(f'First half average: {first_half_average}')
print(f'Second half average: {second_half_average}')

print(f'Improvement: {second_half_average - first_half_average}')

Yearly average: 81.0
First half average: 85.4
Second half average: 76.6
Improvement: -8.800000000000011

In [7]:
s.sort_values(ascending=False).index[0]

'Sep'

In [11]:
# use a boolean ("mask") index to find those rows
# that match the value of s.max(), the highest value.

s[s==s.max()].index[0]

'Sep'

In [12]:
# Returns the index of the highest value in a series
s.idxmax()

'Sep'